<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="container" action="/practicecreate" method="post">
    <div class="mb-3">
        <label class="form-label">제목</label>
        <input type="text" class="form-control" name="title" required>
    </div>
    <div class="mb-3">
        <label class="form-label">내용</label>
        <textarea class="form-control" rows="3" name="content" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary" style="background-color: #FA7C06; border: none;">Submit</button>
</form>
</body>
</html>